serilogapp/.vs/serilogapp/v16
serilogapp/.vs/serilogapp/DesignTimeBuild
serilogapp/serilogapp/obj/Debug
serilogapp/.vs/serilogapp/v16
serilogapp/.vs/serilogapp/v16/Server/sqlite3
serilogapp/.vs/serilogapp/v16/.suo
/.vscode
