@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div style="margin-bottom: 50px">
        <h3 class="display-4">@Model.Message</h3>
        <p>Click on one of the buttons to generate logs</p>
    </div>

    <div class="row">
        <div class="col-lg-6 text-right">
            <label>Click to generate random logs</label>
        </div>
        <div class="col-lg-6">
            <form class="text-left" asp-page-handler="Logs" method="post">
                <button class="btn btn-info">Generate Logs</button>
            </form>
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-right">
            <label>Click to generate error logs</label>
        </div>
        <div class="col-6 ">
            <form class="text-left" asp-page-handler="GenerateErrors" method="post">
                <button class="btn btn-danger">Generate Errors</button>
            </form>
            <p></p>
        </div>
    </div>
</div>