@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to Monitoring and Alerting demo app.</h2>
    <p>Click button 1 to generate logs</p>
    <p>Click button 2 to simulate error logs</p>
    <p>View <a href="http://localhost:5601/">Kibana</a> on localhost to see logs and set up alerts</p>
</div>
