@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h3 class="display-4">Welcome to Monitoring & Alerting demo app.</h3>
        <p></p>

        <div>
            <label>Click to simulate logs</label>
            <input type="button" class="btn-info" value="Logs" />
            <p></p>
        </div>

        <div>
            <label>Click to simulate error logs</label>
            <input type="button" class="btn-danger" value="Error Logs" />
            <p></p>
        </div>
        
        <p>View <a href="http://localhost:5601/">Kibana</a> on localhost to see logs and set up alerts</p>
    </div>